*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;

}
main {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  border-radius: 6px;
  border: 3px solid rgb(90, 88, 88);
  background-color: rgb(97, 9, 22);
  }
h1{
  font-size: 50px;
  text-align: center;
  color:white;
  margin:0;
  padding:15px;   
}
.main-default-container{
  display: flex;
  justify-content: center;
  padding: 30px 0;  
}
.formEditor{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}
.editor-header{
  font-size:25px;
  font-weight:700;
  color:white;
  margin:0;
}
.header-input-section{
  display: flex;
  flex-direction: column;
}
.input-spacer{
  padding:10px 0;
}
.input-spacer label{
  font-size:24px;
  color:white;
}
.input-spacer input{
  font-size: 18px;
  width: 100%;
  padding: 8px;
}
.star-create-rating{
  display: flex;
  font-size: 25px;
  justify-content: space-evenly;
}
.star-expanded-rating{
  padding: 10px 0;
}
.radio-spacer{
  display:flex;
}
.Editor-button-section{
  display: flex;
  justify-content: space-between;
  padding:10px 0;
}
.Editor-button-section button{
  border-radius:5px;
  font-size:18px;
  padding:5px 15px;
  background-color:white;
}
.button-controler{
  display: flex;
  justify-content: space-between;
  width:100%;
  max-width:337px;
}
.add-bookmark{
  padding: 8px 10px;
  font-size: 22px;
  background-color:white;
}
  .hidden {
      display: none;
  }
  
  .rating-filter {
   font-size: 22px;
   background-color: white;
  }

  .bookmark-list {
    width: 100%;
    padding: 10px 45px;
  }

  .bookmark-list-container{
    display: flex;

  }

  .bookmark-header h2{
    margin:0;
    padding:10px 0;
  }
  .bookmark-header:hover{
    cursor: pointer;
  }
  .bookmark-info{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
  }
  .bookmark-info a{
    padding:10px 0;
    font-size:18px;
    text-decoration: none;
    color:rgb(85, 8, 25);
  }
  p {
    margin: 0;
    font-size: 22px;
  }
  .edit-form{
    display: flex;
    flex-direction: column;
  }
  .edit-form h2{
    margin: 0;
    padding: 10px 0
  }

  .edit-form input {
    font-size: 18px;
    padding: 5px;
  }
  .edit-form a {
    padding: 10px 0;
    font-size: 18px;
    text-decoration: none;
    color:rgb(85, 8, 25);
  }
  .edit-form a:hover{
    cursor: pointer;
  }
  .bookmark-button-section{
    display:flex;
    justify-content: space-around;
  }
  .bookmark-button-section button{
    font-size: 22px;
    padding: 10px 20px;
    background-color: white;
    color: rgb(85, 8, 25);
    border-radius: 5px;
  }
  .bookmark-button-section button:hover{
    color:white;
    background-color:rgb(85, 8, 25);
    cursor: pointer;
  }


  .link-del-buttons {
      display: inline-block;
      text-align: right;
      width: 390px;
  }

  div.expanded-rating {
    display: inline-block;  
    padding: 5px 0 0 4px;
  }

  .rating-radio {
    display: inline-block;
    font-size: 20px;
    margin-top: 6px;
  }

  .link-del-buttons.edit-mode-del-link-buttons {
    width: 293px;
  }


  .align-right {
      text-align: right;
  }

  #add-bookmark-button {
    font-size: 50px;
    border-color: rgb(90, 88, 88);
    background-color: white;
  }

  .add-form-buttons {
    font-size: 20px;
    border: 4px solid  rgb(90, 88, 88);
    background-color: white;
  }
  li{
    padding: 10px 40px;
    color: rgb(85, 8, 25);
    font-size: 20px;
    background: white;
    border: 2px solid rgb(90, 88, 88)
  }
